<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<h3>
    <f:translate key="change_password_header" />
</h3>
<p>
    <f:translate key="change_password_message" arguments="{0: settings.newPasswordMinLength}" />
</p>

<f:render partial="ValidationErrors" />

<f:form action="changePassword" method="post">
    <legend><f:translate key="change_password" /></legend>
    <div class="form-group">
        <label class="form-label" for="newPass"><f:translate key="newpassword_label1" /></label>
        <f:form.password name="newPass" class="form-control" additionalAttributes="{autocomplete: 'new-password'}" />
    </div>
    <div class="form-group">
        <label class="form-label" for="newPassRepeat"><f:translate key="newpassword_label2" /></label>
        <f:form.password name="newPassRepeat" class="form-control" additionalAttributes="{autocomplete: 'new-password'}" />
    </div>
    <div class="form-group">
        <f:form.submit class="btn btn-primary" value="{f:translate(key: 'change_password')}" />
    </div>
    <f:form.hidden name="hash" value="{hash}" />
</f:form>

<p>
    <f:link.action action="login" controller="Login">
        <f:translate key="forgot_header_backToLogin" />
    </f:link.action>
</p>
</html>
