<f:layout name="Default" />
<f:section name="Main">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="1" />
            </div>
            <div class="col-md-6" role="main">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="0" />
            </div>
            <div class="col-md-3">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="2" />
            </div>
        </div>
    </div>

</f:section>