<f:layout name="Default"/>
<f:section name="Main">

	<div class="container">
		<div class="row">
			<div class="col-md-6" role="main">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0', col_md:'6', col_lg:'6'}"/>
			</div>
			<div class="col-md-3">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2', col_md:'3', col_lg:'3'}"/>
			</div>
			<div class="col-md-3">
				<f:cObject typoscriptObjectPath="lib.navigation.subnavigation"/>
			</div>
		</div>
	</div>

</f:section>
