<f:layout name="Default"/>
<f:section name="Main">

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}"/>
    <div class="container">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
    </div>

    <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '30'}"/>
                </div>
                <div class="col-sm-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '31'}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '32'}"/>
                </div>
                <div class="col-sm-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '33'}"/>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '4'}"/>
        <div class="row">
            <div class="col-sm-6">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '34'}"/>
            </div>
            <div class="col-sm-6">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '35'}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '36'}"/>
            </div>
            <div class="col-sm-6">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '37'}"/>
            </div>
        </div>
    </div>

</f:section>
