<f:layout name="Default" />
<f:section name="Main">

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="3" />
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="20" />
            </div>
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="21" />
            </div>
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="22" />
            </div>
        </div>
    </div>
    <div class="container">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="0" />
    </div>

</f:section>