<f:layout name="Default"/>
<f:section name="Main">

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3', fluid:'1'}"/>

    <div class="section section-default">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '20', sm: '4'}"/>
                </div>
                <div class="col-sm-4">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '21', sm: '4'}"/>
                </div>
                <div class="col-sm-4">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '22', sm: '4'}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-light">
        <div class="container">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
        </div>
    </div>

</f:section>
