<f:layout name="Default"/>
<f:section name="Main">

	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}"/>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '20', col_sm:'4', col_md:'4', col_lg:'4'}"/>
			</div>
			<div class="col-sm-4">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '21', col_sm:'4', col_md:'4', col_lg:'4'}"/>
			</div>
			<div class="col-sm-4">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '22', col_sm:'4', col_md:'4', col_lg:'4'}"/>
			</div>
		</div>
	</div>
	<div class="container">
		<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
	</div>

</f:section>
