<f:layout name="Default"/>
<f:section name="Main">

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3', fluid: '1'}"/>

    <div class="section section-default">
        <div class="container">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
        </div>
    </div>

    <div class="section section-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '30', sm: '6'}"/>
                </div>
                <div class="col-sm-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '31', sm: '6'}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '32', sm: '6'}"/>
                </div>
                <div class="col-sm-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '33', sm: '6'}"/>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-default">
        <div class="container">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '4'}"/>
        </div>
    </div>

    <div class="section section-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '34', sm: '6'}"/>
                </div>
                <div class="col-sm-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '35', sm: '6'}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '36', sm: '6'}"/>
                </div>
                <div class="col-sm-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '37', sm: '6'}"/>
                </div>
            </div>
        </div>
    </div>

</f:section>
