//
// Backend Layouts
// --------------------------------------------------

//
// 2 Columns
// --------------------------------------------------
@include media-breakpoint-up('lg') {
    .backendlayout-2_columns,
    .backendlayout-2_columns_25_75 {
        .maincontent-wrap {
            --section-gaps: 1;
            --section-colspan: 9;
        }
        .subcontent-wrap {
            --section-gaps: 1;
            --section-colspan: 3;
        }
    }
    .backendlayout-2_columns_25_75 {
        .maincontent-wrap {
            order: 2;
        }
        .subcontent-wrap {
            order: 1;
        }
    }
}

//
// 2 Columns Half
// --------------------------------------------------
@include media-breakpoint-up('lg') {
    .backendlayout-2_columns_50_50 {
        .maincontent-wrap {
            --section-gaps: 1;
            --section-colspan: 6;
        }
        .subcontent-wrap {
            --section-gaps: 1;
            --section-colspan: 6;
        }
    }
}

//
// 2 Columns Offset Right
// --------------------------------------------------
@include media-breakpoint-up('lg') {
    .backendlayout-2_columns_offset_right {
        .maincontent-wrap {
            --section-gaps: 1;
            --section-colspan: 8;
        }
        .subcontent-wrap {
            --section-gaps: 1;
            --section-colspan: 3;
        }
    }
}

//
// 3 Columns
// --------------------------------------------------
@include media-breakpoint-up('lg') {
    .backendlayout-3_columns {
        .maincontent-wrap {
            order: 2;
            --section-gaps: 2;
            --section-colspan: 6;
        }
        .subcontent-wrap {
            order: 3;
            --section-gaps: 2;
            --section-colspan: 3;
        }
        .maincontent-wrap + .subcontent-wrap {
            order: 1;
        }
    }
}

//
// Subnavigation
// --------------------------------------------------
.backendlayout-subnavigation_right,
.backendlayout-subnavigation_left {
    .subnav-wrap {
        display: none;
    }
}
@include media-breakpoint-up('lg') {
    .backendlayout-subnavigation_right,
    .backendlayout-subnavigation_left {
        .subnav-wrap {
            display: block;
            --section-gaps: 1;
            --section-colspan: 3;
        }
        .maincontent-wrap {
            --section-gaps: 1;
            --section-colspan: 9;
        }
    }
    .backendlayout-subnavigation_right {
        .subnav-wrap {
            order: 2;
        }
        .maincontent-wrap {
            order: 1;
        }
    }
}

//
// Subnavigation 2 Columns
// --------------------------------------------------
.backendlayout-subnavigation_right_2_columns,
.backendlayout-subnavigation_left_2_columns {
    .subnav-wrap {
        display: none;
    }
}
@include media-breakpoint-up('lg') {
    .backendlayout-subnavigation_right_2_columns,
    .backendlayout-subnavigation_left_2_columns {
        .subnav-wrap {
            display: block;
            --section-gaps: 2;
            --section-colspan: 3;
        }
        .maincontent-wrap {
            --section-gaps: 2;
            --section-colspan: 6;
        }
        .subcontent-wrap {
            --section-gaps: 2;
            --section-colspan: 3;
        }
    }
    .backendlayout-subnavigation_right_2_columns {
        .subnav-wrap {
            order: 3;
        }
        .maincontent-wrap {
            order: 1;
        }
        .subcontent-wrap {
            order: 2;
        }
    }
    .backendlayout-subnavigation_left_2_columns {
        .subnav-wrap {
            order: 1;
        }
        .maincontent-wrap {
            order: 3;
        }
        .subcontent-wrap {
            order: 2;
        }
    }
}
