//
// Breadcrumb
// --------------------------------------------------
.breadcrumb-section {
    background-color: $breadcrumb-bg;
    .breadcrumb {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        margin-bottom: 0;
    }
}
.breadcrumb-icon {
    flex-grow: 0;
    flex-shrink: 0;
    svg,
    img {
        display: block;
        margin: 0;
    }
}
.breadcrumb-link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.breadcrumb-link-title {
    display: inline-flex;
    align-items: center;
    gap: .25em;
}
.breadcrumb-item {
    + .breadcrumb-item {
        // syntax content: "/" / "" in order to create an empty string for screen readers
        // in order to prevent the screen reader from reading the optical divider
        // more information here: https://a11ysupport.io/tests/tech__css__css_generated_content_alt
        // first line for browser that do not support the new syntax
        &::before {
            content: var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{"/* rtl:"} var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{"*/"};
            content: var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{"/* rtl:"} var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{"*/"} / "";
        }
    }
}
