//
// Figure
// --------------------------------------------------
figure {
    display: block;
    margin-bottom: 1rem;
    img,
    picture {
        display: block;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }
    .caption {
        padding-top: .25rem;
        font-size: .85rem;
        word-wrap: break-word;
        opacity: .8;
    }
}
