//
// Section
// --------------------------------------------------
.section {
    overflow: hidden;
}
.section-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
}
.section-column {
    width: 100%;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
    &-half {
        @include media-breakpoint-up('sm') {
            width: 50%;
        }
    }
    &-third {
        @include media-breakpoint-up('md') {
            width: calc(100% / 3);
        }
    }
}
