<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <strong>{f:translate(key: 'googleanalyticsstatus.title', extensionName: 'bootstrap_package')}</strong>:<br>
    {f:translate(key: 'googleanalyticsstatus.description', extensionName: 'bootstrap_package')}<br>
    <a href="#" data-action="googleAnalyticsToggle" data-label-enable="{f:translate(key: 'googleanalyticsstatus.link.enable', extensionName: 'bootstrap_package')}" data-label-disable="{f:translate(key: 'googleanalyticsstatus.link.disable', extensionName: 'bootstrap_package')}"></a>

</html>
