<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.icon_type} > 0">
    <f:then>
        <span class="texticon-inner-icon glyphicon glyphicon-{icon}" style="{f:if(condition: data.icon_color, then: 'color: {data.icon_color};')} {f:if(condition: data.icon_background, then: 'background-color: {data.icon_background};')}"></span>
    </f:then>
    <f:else>
        <span class="texticon-inner-icon glyphicon glyphicon-{icon}"></span>
    </f:else>
</f:if>
</html>
