//
// Breadcrumbs
// --------------------------------------------------
.breadcrumb-section {
    background-color: @breadcrumb-bg;
    border-bottom: 1px solid darken(@navbar-default-bg, 6.5%);
    .breadcrumb {
        padding: @line-height-computed/2 0;
        border-radius: 0;
        margin-bottom: 0;
    }
    .breadcrumb-icon + .breadcrumb-text {
        margin-left: 0.25em;
    }
}
