//
// Dropdowns
//
.dropdown-header {
    text-transform: uppercase;
    font-size: 0.75em;
    margin-top: 10px;
    padding: 6px @navbar-padding-horizontal;
    border-bottom: 1px solid @dropdown-divider-bg;
}
.dropdown-menu {
    .box-shadow(0 2px 0 rgba(0,0,0,.1));
    > li {
        > a {
            padding: 6px @navbar-padding-horizontal;
        }
        &.dropdown-header:first-child {
            margin-top: 0px;
        }
    }
}
