//
// Footer Columns
// --------------------------------------------------
.footer-section-content-column-left,
.footer-section-content-column-middle,
.footer-section-content-column-right {
    width: 100%;
    @media (min-width: @screen-sm-min) {
        width: calc(~"100% / 3");
    }
}

//
// Footer Section
// --------------------------------------------------
.footer-section {
    color: @footer-color;
    background: @footer-bg;
    a {
        color: @footer-link-color;
        &:hover,
        &:focus {
          color: @footer-link-hover-color;
          text-decoration: @footer-link-hover-decoration;
        }
    }
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5 {
        color: inherit;
    }
}

//
// Footer Section Meta
// --------------------------------------------------
.footer-section-meta {
    color: @footer-meta-color;
    background: @footer-meta-bg;
    a {
        color: @footer-meta-link-hover-color;
        &:hover,
        &:focus {
            color: @footer-meta-link-hover-color;
        }
    }
}

//
// Footer Section Meta
//
.footer-section-meta {
    @media (min-width: @screen-sm-min) {
        text-align: center;
    }
    .frame-inner > *:not(:first-child) {
        margin-top: 1em;
    }
}

//
// Footer Meta
//
.footer-meta {
    overflow: hidden;
    .meta-menu {
        margin: 0;
        list-style: none;
        padding-left: 0;
        @media (min-width: @screen-sm-min) {
            margin-left: -0.5em;
            margin-right: -0.5em;
            > li {
                display: inline-block;
                padding-left: 0.5em;
                padding-right: 0.5em;
            }
        }
    }
}

//
// Footer Language
//
.footer-language {
    overflow: hidden;
    .language-menu {
        margin: 0;
        list-style: none;
        padding-left: 0;
        @media (min-width: @screen-sm-min) {
            margin-left: -0.5em;
            margin-right: -0.5em;
            > li {
                display: inline-block;
                padding-left: 0.5em;
                padding-right: 0.5em;
            }
        }
        .active a {
            font-weight: bold;
        }
    }
}

//
// Footer Social
//
.footer-sociallinks {
    .sociallinks {
        overflow: hidden;
    }
    .sociallinks-list {
        margin: -0.5em;
    }
    .sociallinks-item {
        display: inline-block;
        margin: 0.5em;
        height: 1.5em;
        width: 1.5em;
    }
    .sociallinks-link {
        height: 1.5em;
        width: 1.5em;
    }
}

//
// Footer Copyright
//
.footer-copyright {
    p {
        margin-bottom: 0;
    }
}
