//
// Frame Container
//
.frame-container {
    position: relative;
    .container-fixed();
    @media (min-width: @screen-sm-min) {
        max-width: @container-sm;
    }
    @media (min-width: @screen-md-min) {
        max-width: @container-md;
    }
    @media (min-width: @screen-lg-min) {
        max-width: @container-lg;
    }
}
.container {
    .frame-container {
        padding-left: 0;
        padding-right: 0;
    }
}

//
// Frame
//
.frame {
    position: relative;
    padding-top: @frame-inner-spacing;
    padding-bottom: @frame-inner-spacing;
    @media (min-width: @screen-sm) {
        padding-top: (@frame-inner-spacing * @frame-inner-spacing-scaling-sm);
        padding-bottom: (@frame-inner-spacing * @frame-inner-spacing-scaling-sm);
    }
    @media (min-width: @screen-md) {
        padding-top: (@frame-inner-spacing * @frame-inner-spacing-scaling-md);
        padding-bottom: (@frame-inner-spacing * @frame-inner-spacing-scaling-md);
    }
    @media (min-width: @screen-lg) {
        padding-top: (@frame-inner-spacing * @frame-inner-spacing-scaling-lg);
        padding-bottom: (@frame-inner-spacing * @frame-inner-spacing-scaling-lg);
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
.frame-inner {
    > *:last-child {
        margin-bottom: 0;
    }
}

//
// Frame Styles
//
.frame-ruler-before {
    border-top: 1px solid rgba(0, 0, 0, .125);
    margin-top: @frame-inner-spacing;
    @media (min-width: @screen-sm) {
        margin-top: (@frame-inner-spacing * @frame-inner-spacing-scaling-sm);
    }
    @media (min-width: @screen-md) {
        margin-top: (@frame-inner-spacing * @frame-inner-spacing-scaling-md);
    }
    @media (min-width: @screen-lg) {
        margin-top: (@frame-inner-spacing * @frame-inner-spacing-scaling-lg);
    }
}
.frame-ruler-after {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: @frame-inner-spacing;
    @media (min-width: @screen-sm) {
        margin-bottom: (@frame-inner-spacing * @frame-inner-spacing-scaling-sm);
    }
    @media (min-width: @screen-md) {
        margin-bottom: (@frame-inner-spacing * @frame-inner-spacing-scaling-md);
    }
    @media (min-width: @screen-lg) {
        margin-bottom: (@frame-inner-spacing * @frame-inner-spacing-scaling-lg);
    }
}
.frame-indent {
    .frame-inner {
        @media (min-width: @screen-sm) {
            margin-left: 5%;
            margin-right: 5%;
        }
        @media (min-width: @screen-md) {
            margin-left: 10%;
            margin-right: 10%;
        }
        @media (min-width: @screen-lg) {
            margin-left: 15%;
            margin-right: 15%;
        }
    }
}
.frame-indent-left {
    .frame-inner {
        @media (min-width: @screen-sm) {
            margin-left: 11%;
        }
        @media (min-width: @screen-md) {
            margin-left: 22%;
        }
        @media (min-width: @screen-lg) {
            margin-left: 33%;
        }
    }
}
.frame-indent-right {
    .frame-inner {
        @media (min-width: @screen-sm) {
            margin-right: 11%;
        }
        @media (min-width: @screen-md) {
            margin-right: 22%;
        }
        @media (min-width: @screen-lg) {
            margin-right: 33%;
        }
    }
}

//
// Background
// --------------------------------------------------
.container {
    .frame-has-backgroundimage {
        padding-left: @frame-inner-spacing;
        padding-right: @frame-inner-spacing;
        @media (min-width: @screen-sm) {
            padding-left: (@frame-inner-spacing * @frame-inner-spacing-scaling-sm);
            padding-right: (@frame-inner-spacing * @frame-inner-spacing-scaling-sm);
        }
        @media (min-width: @screen-md) {
            padding-left: (@frame-inner-spacing * @frame-inner-spacing-scaling-md);
            padding-right: (@frame-inner-spacing * @frame-inner-spacing-scaling-md);
        }
        @media (min-width: @screen-lg) {
            padding-left: (@frame-inner-spacing * @frame-inner-spacing-scaling-lg);
            padding-right: (@frame-inner-spacing * @frame-inner-spacing-scaling-lg);
        }
    }
}
.frame-collapsible {
    margin-top: -@frame-inner-spacing;
    @media (min-width: @screen-sm) {
        margin-top: -(@frame-inner-spacing * @frame-inner-spacing-scaling-sm);
    }
    @media (min-width: @screen-md) {
        margin-top: -(@frame-inner-spacing * @frame-inner-spacing-scaling-md);
    }
    @media (min-width: @screen-lg) {
        margin-top: -(@frame-inner-spacing * @frame-inner-spacing-scaling-lg);
    }
}
.make-frame-spacing(@name) {
    .@{name}.frame-space-after-none:not(.frame-ruler-after) + .@{name}.frame-space-before-none:not(.frame-ruler-before):not(.frame-has-backgroundimage) {
        &:extend(.frame-collapsible);
    }
}
.make-frame-spacing(frame-background-none);
.make-frame-background(@name, @background, @color, @link-color, @link-color-hover) {
    .@{name} {
        &:extend(.frame-has-backgroundimage all);
        color: @color;
        background-color: @background;
        a:not(.btn) {
            color: @link-color;
            &:focus,
            &:hover {
                color: @link-color-hover;
            }
        }
    }
    .make-frame-spacing(@name);
}
.make-frame-background(frame-background-primary, @frame-primary-bg, @frame-primary-color, @frame-primary-link-color, @frame-primary-link-hover-color);
.make-frame-background(frame-background-secondary, @frame-secondary-bg, @frame-secondary-color, @frame-secondary-link-color, @frame-secondary-link-hover-color);
.make-frame-background(frame-background-light, @frame-light-bg, @frame-light-color, @frame-light-link-color, @frame-light-link-hover-color);
.make-frame-background(frame-background-dark, @frame-dark-bg, @frame-dark-color, @frame-dark-link-color, @frame-dark-link-hover-color);

//
// Background Image
// --------------------------------------------------
.frame-backgroundimage-container {
    overflow: hidden;
}
.frame-backgroundimage-container,
.frame-backgroundimage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.frame-backgroundimage-fade {
    opacity: 0.125;
}
.frame-backgroundimage-parallax {
    background-attachment: fixed;
    @media (hover: none) {
        background-attachment: initial;
    }
    background-repeat: no-repeat;
}
.frame-backgroundimage-blur {
    filter: blur(10px);
    width: calc(~'100% + 40px');
    height: calc(~'100% + 40px');
    top: -20px;
    left: -20px;
}
.frame-backgroundimage-grayscale {
    filter: grayscale(1);
}
.frame-backgroundimage-sepia {
    filter: sepia(1);
}

//
// Space Before
// --------------------------------------------------
.frame-space-before-none {
    margin-top: 0;
}
.frame-space-before-extra-small {
    margin-top: @frame-outer-spacing;
}
.frame-space-before-small {
    margin-top: (@frame-outer-spacing * @frame-outer-spacing-scaling-small);
}
.frame-space-before-medium {
    margin-top: (@frame-outer-spacing * @frame-outer-spacing-scaling-medium);
}
.frame-space-before-large {
    margin-top: (@frame-outer-spacing * @frame-outer-spacing-scaling-large);
}
.frame-space-before-extra-large {
    margin-top: (@frame-outer-spacing * @frame-outer-spacing-scaling-xlarge);
}

//
// Space After
// --------------------------------------------------
.frame-space-after-none {
    margin-bottom: 0;
}
.frame-space-after-extra-small {
    margin-bottom: @frame-outer-spacing;
}
.frame-space-after-small {
    margin-bottom: (@frame-outer-spacing * @frame-outer-spacing-scaling-small);
}
.frame-space-after-medium {
    margin-bottom: (@frame-outer-spacing * @frame-outer-spacing-scaling-medium);
}
.frame-space-after-large {
    margin-bottom: (@frame-outer-spacing * @frame-outer-spacing-scaling-large);
}
.frame-space-after-extra-large {
    margin-bottom: (@frame-outer-spacing * @frame-outer-spacing-scaling-xlarge);
}

//
// Frame Header
// --------------------------------------------------
.frame-header {
    *:last-child {
        margin-bottom: @font-size-base;
    }
}
.frame-type-header {
    .frame-header {
        *:last-child {
            margin-bottom: 0;
        }
    }
}
