//
// Images
// --------------------------------------------------
.image {
    display: block;
    margin-bottom: @line-height-computed;
    line-height: @line-height-base;
    > img,
    a > img {

        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .caption {
        padding: @thumbnail-caption-padding;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}
