//
// Vertical Alignment
// --------------------------------------------------
.valign {
    display: table;
    table-layout: fixed;
    width: 100%;
    > .vcontainer {
        display: table-cell;
        vertical-align: middle;
    }
}


//
// Panel
//
.panel-body {
    *:last-child {
        margin-bottom: 0;
    }
}


//
// Lazyload Images
// --------------------------------------------------
img.lazyload {
    opacity: 0.3;
    .transition(opacity .3s ease-in 0s);
}


//
// Language Menu
// --------------------------------------------------
.language-menu {
    list-style: none;
    padding-left: 0;
    @media (min-width: @screen-sm-min) {
        .list-inline();
        > li:first-child {
            padding-left: 0px;
        }
    }
}


//
// Misc
// --------------------------------------------------
.panel-group {
    margin-bottom: 20px;
}
a:hover {
    text-decoration: none;
}
.caret {
    margin-left: 5px;
}
.caption {
    color: @gray-light;
}
