//
// Position Fixed
//
.navbar-mainnavigation {
    position: relative;
    z-index: @zindex-navbar;
    &.navbar-fixed-top,
    &.navbar-fixed-bottom {
        position: fixed;
    }
}
.body-bg-top {
    padding-top: @navbar-height;
    @media (min-width: @screen-sm) {
        padding-top: @navbar-height-sm
    }
    @media (min-width: @screen-md) {
        padding-top: @navbar-height-md
    }
    @media (min-width: @screen-lg) {
        padding-top: @navbar-height-lg
    }
}
.body-bg-bottom {
    padding-bottom: @navbar-height;
    @media (min-width: @screen-sm) {
        padding-bottom: @navbar-height-sm
    }
    @media (min-width: @screen-md) {
        padding-bottom: @navbar-height-md
    }
    @media (min-width: @screen-lg) {
        padding-bottom: @navbar-height-lg
    }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
    .navbar-collapse {
        max-height: calc(~"100vh - @{navbar-height}");
        @media (min-width: @screen-sm) {
            max-height: calc(~"100vh - @{navbar-height-sm}");
        }
        @media (min-width: @screen-md) {
            max-height: calc(~"100vh - @{navbar-height-md}");
        }
        @media (min-width: @screen-lg) {
            max-height: calc(~"100vh - @{navbar-height-lg}");
        }
    }
}


//
// Carousel Corrections
//
.navbar {
    + a,
    + a + a,
    + .typo3-feedit-element > a,
    + .typo3-feedit-element > a + a,
    + .main-section > a,
    + .main-section > a + a,
    + .main-section > .typo3-feedit-element > a,
    + .main-section > .typo3-feedit-element > a + a {
        + .carousel-fullscreen,
        + .carousel-fullscreen .carousel-item {
            height: calc(~"100vh - @{navbar-height}");
            @media (min-width: @screen-sm) {
                height: calc(~"100vh - @{navbar-height-sm}");
            }
            @media (min-width: @screen-md) {
                height: calc(~"100vh - @{navbar-height-md}");
            }
            @media (min-width: @screen-lg) {
                height: calc(~"100vh - @{navbar-height-lg}");
            }
        }
    }
}
.navbar-fixed-top.navbar-default-transition,
.navbar-fixed-top.navbar-inverse-transition {
    + a,
    + a + a,
    + .typo3-feedit-element > a,
    + .typo3-feedit-element > a + a,
    + .main-section > a,
    + .main-section > a + a,
    + .main-section > .typo3-feedit-element > a,
    + .main-section > .typo3-feedit-element > a + a {
        + .carousel {
            @media (min-width: @grid-float-breakpoint) {
                margin-top: -@navbar-height;
            }
            @media (min-width: @grid-float-breakpoint) and (min-width: @screen-sm) {
                margin-top: -@navbar-height-sm
            }
            @media (min-width: @grid-float-breakpoint) and (min-width: @screen-md) {
                margin-top: -@navbar-height-md
            }
            @media (min-width: @grid-float-breakpoint) and (min-width: @screen-lg) {
                margin-top: -@navbar-height-lg
            }
            .carousel-item {
                @media (min-width: @grid-float-breakpoint) {
                    padding-top: @navbar-height / 2;
                }
                @media (min-width: @grid-float-breakpoint) and (min-width: @screen-sm) {
                    padding-top: @navbar-height-sm / 2;
                }
                @media (min-width: @grid-float-breakpoint) and (min-width: @screen-md) {
                    padding-top: @navbar-height-md / 2;
                }
                @media (min-width: @grid-float-breakpoint) and (min-width: @screen-lg) {
                    padding-top: @navbar-height-lg / 2;
                }
            }
        }
        + .carousel-fullscreen,
        + .carousel-fullscreen .carousel-item {
            @media (min-width: @grid-float-breakpoint) {
                height: 100vh;
            }
        }
    }
}
.navbar-fixed-bottom {
    + a,
    + a + a,
    + .typo3-feedit-element > a,
    + .typo3-feedit-element > a + a,
    + .main-section > a,
    + .main-section > a + a,
    + .main-section > .typo3-feedit-element > a,
    + .main-section > .typo3-feedit-element > a + a {
        + .carousel-fullscreen {
            margin-top: 0;
            height: calc(~"100vh - @{navbar-height}");
            @media (min-width: @grid-float-breakpoint) {
                height: calc(~"100vh - @{navbar-height} - @{navbar-height}");
            }
        }
    }
}


//
// Behaviour
//
.navbar > .container,
.navbar > .container-fluid {
    &:before,
    &:after {
        display: none;
    }
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (min-width: @grid-float-breakpoint) {
        flex-wrap: nowrap;
    }
}


//
// Brand
//
.navbar-mainnavigation {
    .navbar-brand {
        margin-left: 0 !important;
        margin-right: @grid-gutter-width;
        padding-left: 0;
        padding-right: 0;
        font-size: round(@font-size-base * 1.4);
        font-family: @headings-font-family;
        font-weight: bold;
        text-transform: uppercase;
        line-height: @navbar-height ;
        height: @navbar-height;
        .transition(opacity .15s ease-in-out 0s);
        &:hover {
            opacity: 0.8;
        }
        @media (min-width: @screen-sm) {
            height: @navbar-height-sm
        }
        @media (min-width: @screen-md) {
            height: @navbar-height-md
        }
        @media (min-width: @screen-lg) {
            height: @navbar-height-lg
        }
    }
    .navbar-brand-image {
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        img {
            position: relative;
            top: 50%;
            transform: translate(0,-50%);
            width: auto;
            max-height: @navbar-height - 30;
            @media (min-width: @grid-float-breakpoint) {
                max-height: 65%;
            }
        }
        > .navbar-brand-logo-normal {
            display: block;
        }
        > .navbar-brand-logo-inverted {
            display: none;
        }
    }
}


//
// Breakpoint
//
.navbar-mainnavigation {
    .navbar-collapse {
        &:before,
        &:after {
            display: none;
        }
        border-top: none;
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        box-shadow: none;
        @media (min-width: @grid-float-breakpoint) {
            &:before,
            &:after {
                display: none;
            }
            display: flex !important;
            flex-basis: auto;
        }
    }
}


//
// Dropdown
//
.navbar-mainnavigation {
    .dropdown-item {
        &.active,
        &:hover,
        &:focus {
            color: @dropdown-link-active-color;
            text-decoration: none;
            outline: 0;
            background-color: @dropdown-link-active-bg;
        }
        display: flex;
        align-items: center;
    }
    .dropdown-icon {
        svg,
        img {
            display: block;
            margin: 0;
        }
        & + .dropdown-text {
            margin-left: 0.5em;
        }
    }
    .dropdown-divider {
        height: 0;
        margin: 0.5em 0;
        overflow: hidden;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
    }
    @media (max-width: (@grid-float-breakpoint - 1)) {
        .dropdown-toggle::after {
            content: '';
            vertical-align: middle;
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: auto;
            vertical-align: 0.255em;
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
        }
        &.navbar-default {
            .dropdown-item:not(.active) {
                color: @navbar-default-link-color;
                &:hover,
                &:focus {
                    color: @navbar-default-link-active-color;
                }
            }
        }
        &.navbar-inverse {
            .dropdown-item:not(.active) {
                color: @navbar-inverse-link-color;
                &:hover,
                &:focus {
                    color: @navbar-inverse-link-active-color;
                }
            }
        }
        .dropdown-menu {
            background-color: transparent;
            position: static;
            float: none;
            border: 0;
            box-shadow: none;
            margin-left: -(@grid-gutter-width / 2);
            margin-right: -(@grid-gutter-width / 2);
            border-left: 4px solid @brand-primary;
        }
        .dropdown-item {
            padding-left: 1.75em;
            &.active,
            &:hover,
            &:focus {
                color: @dropdown-link-active-color;
                text-decoration: none;
                outline: 0;
                background-color: @dropdown-link-active-bg;
            }
            &:hover:not(.active),
            &:focus:not(.active) {
                background: transparent;
            }
        }
    }
}


//
// Mainnavigation
//
.navbar-mainnavigation {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    margin: 0;
    border: 0;
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-bottom: 1em;
        padding-left: 0;
        margin: 0;
        list-style: none;
        &:first-child {
            padding-top: 0.5em;
        }
        @media (min-width: @grid-float-breakpoint) {
            float: none;
            flex-direction: row;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            &:first-child {
                margin-left: -@navbar-padding-horizontal;
            }
            &:last-child {
                margin-left: auto;
                margin-right: -@navbar-padding-horizontal;
            }
            > li {
                float: none;
            }
        }
    }
    .nav-link {
        padding-top: 8px;
        padding-bottom: 8px;
        display: block;
        @media (max-width: (@grid-float-breakpoint - 1)) {
            padding-left: (@grid-gutter-width / 2);
            padding-right: (@grid-gutter-width / 2);
            margin-left: -(@grid-gutter-width / 2);
            margin-right: -(@grid-gutter-width / 2);
        }
        @media (min-width: @grid-float-breakpoint) {
            padding-left: @navbar-padding-horizontal;
            padding-right: @navbar-padding-horizontal;
        }
    }
    > .container > .navbar-collapse,
    > .container-fluid > .navbar-collapse {
        margin-left: -(@grid-gutter-width / 2);
        margin-right: -(@grid-gutter-width / 2);
        padding-left: (@grid-gutter-width / 2);
        padding-right: (@grid-gutter-width / 2);
    }
}


//
// Item
//
.navbar-mainnavigation {
    .nav-link {
        position: relative;
        display: flex;
        align-items: center;
    }
    .nav-link-icon,
    .nav-link-text {
        display: inline-block;
        vertical-align: middle;
    }
    .nav-link-icon {
        & + .nav-link-text {
            margin-left: 0.5em;
        }
        svg,
        img {
            vertical-align: sub;
        }
    }
}


//
// Status
//
.navbar-mainnavigation {
    .navbar-nav > li {
        > .nav-link::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            width: 4px;
            height: 100%;
            background: @brand-primary;
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
        }
        > .nav-link:focus::before,
        > .nav-link:hover::before,
        &:hover > .nav-link::before {
                opacity: .25;
        }
        &.show > .nav-link::before,
        &.active > .nav-link::before {
            opacity: .5;
        }
        @media (min-width: @grid-float-breakpoint) {
            > .nav-link::before {
                top: auto;
                left: @navbar-padding-horizontal;
                right: @navbar-padding-horizontal;
                bottom: 4px;
                height: 2px;
                width: auto;
            }
        }
    }
}


//
// Toggler
//
.navbar-toggler {
    @media (min-width: @grid-float-breakpoint) {
        display: none;
    }
    float: right;
    .navbar-vertical-align(34px);
    background-color: transparent;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    border-radius: @border-radius-base;
    padding: 0;
    height: 34px;
    width: 22px;
    position: relative;
    border: 0;
    &:focus {
        outline: 0;
    }
}
.navbar-toggler-icon:after,
.navbar-toggler-icon,
.navbar-toggler-icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: none!important;
    display: inline-block;
    width: 22px;
    height: 2px;
    background-color: currentColor;
    transition: all 0.3s ease-in;
}
.navbar-toggler-icon {
    top: 50%;
    left: 50%;
    height: 0;
    transform: translate(-50%, -50%);
}
.navbar-toggler-icon:before {
    transition-delay: 0.1s;
    transform: rotate(-45deg);
    top: 0px;
}
.navbar-toggler-icon:after {
    transition-delay: 0.1s;
    transform: rotate(45deg);
    top: 0px;
}
.navbar-toggler.collapsed {
    .navbar-toggler-icon {
        transition-delay: 0.2s;
        height: 2px;
    }
    .navbar-toggler-icon:before {
        transition-delay: 0;
        transform: rotate(0);
        top: -6px;
    }
    .navbar-toggler-icon:after {
        transition-delay: 0;
        transform: rotate(0);
        top: 6px;
    }
}
.navbar-default {
    .navbar-toggler {
        color: @navbar-default-color;
    }
}
.navbar-inverse {
    .navbar-toggler {
        color: @navbar-inverse-color;
    }
}


//
// Transision
//
.navbar-default-transition,
.navbar-default-transition.navbar-transition {
    &:extend(.navbar-default all);
}
.navbar-inverse-transition,
.navbar-inverse-transition.navbar-transition {
    &:extend(.navbar-inverse all);
}
.navbar-transition {
    .navbar-brand {
        height: @navbar-height;
    }
    .navbar-brand-image img {
        max-height: @navbar-height - 30;
    }
}
@media (min-width: @grid-float-breakpoint) {
    .navbar {
        transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    }
    .navbar-default-transition:not(.navbar-transition),
    .navbar-inverse-transition:not(.navbar-transition) {
        background: transparent !important;
        box-shadow: none;
        .navbar-nav > li {
            > .nav-link,
            > .nav-link:hover,
            > .nav-link:focus {
                color: #ffffff !important;
            }
        }
        .navbar-brand {
            > .navbar-brand-logo-normal {
                display: none;
            }
            > .navbar-brand-logo-inverted {
                display: block;
            }
        }
    }
}


//
// Navbar Bottom
//
.navbar-mainnavigation {
    &.navbar-bottom {
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
    }
}
