//
// Textpic 
//
.textpic {
  overflow: hidden;
  &.intext{
    &-right {
      > .imagewrap {
        @media (min-width: @screen-sm-min){
            margin-left: @grid-gutter-width; 
        }
        float: right; 
      }
      
    } 
    &-left {
      > .imagewrap {
        @media (min-width: @screen-sm-min){
           margin-right: @grid-gutter-width;
        }
        float: left; 
      }
    }
  }
  &.beside {
    &-right {
      > .textpic-text { clear: right; } 
      > .imagewrap {
        margin-left: floor((@grid-gutter-width / 2));
        float: right; 
      }
    } 
    &-left {
      > .textpic-text { clear: left; } 
      > .imagewrap {
        margin-right: floor((@grid-gutter-width / 2));
        float: left; 
      }
    }
  }
}
