//
// Fonts
// --------------------------------------------------
@media (min-width: @screen-md) {
    h1.awesome, .h1.awesome { font-size: floor(@font-size-h1 * 1.5); line-height: 1.2; }
    h2.awesome, .h2.awesome { font-size: floor(@font-size-h2 * 1.5); line-height: 1.2; }
    h3.awesome, .h3.awesome { font-size: floor(@font-size-h3 * 1.5); line-height: 1.2; }
    h4.awesome, .h4.awesome { font-size: floor(@font-size-h4 * 1.5); line-height: 1.2; }
    h5.awesome, .h5.awesome { font-size: floor(@font-size-h5 * 1.5); line-height: 1.2; }
    h6.awesome, .h6.awesome { font-size: floor(@font-size-h6 * 1.5); line-height: 1.2; }
}


//
// Headings
// --------------------------------------------------
h4,
h5 {
    font-family: @font-family-base;
}


//
// Body text
// --------------------------------------------------
.lead {
    @media (min-width: @screen-sm-min) and  (max-width: @screen-sm-max){
        font-size: (@font-size-base * 1.20);
    }
    @media (min-width: @screen-md-min){
        font-size: (@font-size-base * 1.30);
    }
}
