//
// Variables
//


//
// Frames
//
@frame-inner-spacing:                 2em;
@frame-inner-spacing-scaling-sm:      1.25;
@frame-inner-spacing-scaling-md:      1.5;
@frame-inner-spacing-scaling-lg:      1.75;

@frame-outer-spacing:                 1em;
@frame-outer-spacing-scaling-small:   1.5;
@frame-outer-spacing-scaling-medium:  2;
@frame-outer-spacing-scaling-large:   2.5;
@frame-outer-spacing-scaling-xlarge:  3;

@frame-primary-bg:                    @brand-primary;
@frame-primary-color:                 #fff;
@frame-primary-link-color:            #fff;
@frame-primary-link-hover-color:      darken(@frame-primary-link-color, 15%);

@frame-secondary-bg:                  @brand-secondary;
@frame-secondary-color:               #fff;
@frame-secondary-link-color:          #fff;
@frame-secondary-link-hover-color:    darken(@frame-secondary-link-color, 15%);

@frame-light-bg:                      #f2f2f2;
@frame-light-color:                   #333;
@frame-light-link-color:              @link-color;
@frame-light-link-hover-color:        darken(@frame-light-link-color, 15%);

@frame-dark-bg:                       #333;
@frame-dark-color:                    #fff;
@frame-dark-link-color:               @link-color;
@frame-dark-link-hover-color:         darken(@frame-dark-link-color, 15%);


//
// Sections
//
@section-primary-bg:                  @brand-primary;
@section-primary-color:               #fff;
@section-primary-link-color:          #fff;
@section-primary-link-hover-color:    darken(@section-primary-link-color, 15%);

@section-light-bg:                    #f2f2f2;
@section-light-color:                 #333;
@section-light-link-color:            @link-color;
@section-light-link-hover-color:      darken(@section-light-link-color, 15%);

@section-dark-bg:                     #333;
@section-dark-color:                  #fff;
@section-dark-link-color:             @link-color;
@section-dark-link-hover-color:       darken(@section-dark-link-color, 15%);


//
// Footer
//
@footer-bg:                           #333;
@footer-color:                        #fff;
@footer-link-color:                   @link-color;
@footer-link-hover-color:             darken(@footer-link-color, 15%);
@footer-link-hover-decoration:        underline;

@footer-meta-bg:                      darken(@footer-bg, 3%);
@footer-meta-color:                   @footer-color;
@footer-meta-link-color:              @footer-link-color;
@footer-meta-link-hover-color:        darken(@footer-meta-link-color, 15%);
@footer-meta-link-hover-decoration:   @footer-link-hover-decoration;


//
// Colors
//
@brand-primary:                       #4faf98;
@brand-secondary:                     #ff3f00;


//
// Scaffolding
//
@link-hover-decoration: none;


//
// Typography
//
@font-size-base:                      16px;
@font-size-large:                     1.25em;
@font-size-small:                     12px;
@font-size-h1:                        2em;
@font-size-h2:                        1.75em;
@font-size-h3:                        1.5em;
@font-size-h4:                        1.25em;
@font-size-h5:                        1em;
@font-size-h6:                        0.85em;

@line-height-base:                    1.55;
@headings-font-weight:                300;

@headline-scaling-sm:                 1.1;
@headline-scaling-md:                 1.2;
@headline-scaling-lg:                 1.3;

@headline-awesome-scaling-sm:         1.25;
@headline-awesome-scaling-md:         1.5;
@headline-awesome-scaling-lg:         1.75;


//
// Buttons
//
@btn-default-color:                   #333;
@btn-default-bg:                      #eaebec;
@btn-default-border:                  #ddd;

@btn-secondary-color:                 #fff;
@btn-secondary-bg:                    @brand-secondary;
@btn-secondary-border:                darken(@btn-secondary-bg, 5%);


//
// Components
//
@border-radius-base:                  0px;
@border-radius-large:                 0px;
@border-radius-small:                 0px;


//
// Dropdowns
//
@dropdown-border:                     @navbar-default-border;
@dropdown-link-hover-color:           #fff;
@dropdown-link-hover-bg:              @brand-primary;


//
// Grid system
//
@grid-float-breakpoint:               @screen-md-min;
@grid-gutter-width:                   40px;


//
// Container sizes
//
@container-tablet:                    (@screen-sm-min - (@grid-gutter-width / 2) - 40px);
@container-desktop:                   (@screen-md-min - (@grid-gutter-width / 2) - 40px);
@container-large-desktop:             (@screen-lg-min - (@grid-gutter-width / 2) - 40px);


//
// Navbar
//
@navbar-height:                       70px;
@navbar-height-sm:                    @navbar-height;
@navbar-height-md:                    round(@navbar-height * 1.5);
@navbar-height-lg:                    round(@navbar-height * 2);

@navbar-padding-horizontal:           15px;

@navbar-default-color:                #333;
@navbar-default-bg:                   #fff;

@navbar-default-link-color:           lighten(@navbar-default-link-active-color,35%);
@navbar-default-link-hover-color:     @navbar-default-link-active-color;
@navbar-default-link-active-color:    #333;
@navbar-default-link-active-bg:       transparent;

@navbar-default-brand-hover-color:    @navbar-default-link-active-color;

@navbar-default-toggle-hover-bg:      transparent;
@navbar-default-toggle-icon-bar-bg:   @navbar-default-link-color;
@navbar-default-toggle-border-color:  transparent;

@navbar-inverse-color:                #ccc;
@navbar-inverse-bg:                   #2b2b2b;
@navbar-inverse-border:               @navbar-inverse-bg;

@navbar-inverse-link-color:           darken(@navbar-inverse-link-active-color,25%);
@navbar-inverse-link-hover-color:     @navbar-inverse-link-active-color;
@navbar-inverse-link-active-color:    #fff;
@navbar-inverse-link-active-bg:       transparent;

@navbar-inverse-brand-hover-color:    @navbar-inverse-link-active-color;

@navbar-inverse-toggle-hover-bg:      transparent;
@navbar-inverse-toggle-icon-bar-bg:   @navbar-inverse-link-color;
@navbar-inverse-toggle-border-color:  transparent;


//
// Subnav
//
@subnav-font-size:            @font-size-base * 0.875;
@subnav-line-height:          1.25;
@subnav-link-padding-x:       1em;
@subnav-link-padding-y:       .5em;
@subnav-border-color:         #e6e6e6;
@subnav-color:                rgba(red(@text-color), green(@text-color), blue(@text-color), .5);
@subnav-hover-color:          rgba(red(@text-color), green(@text-color), blue(@text-color), .7);
@subnav-hover-bg:             #f2f2f2;
@subnav-active-color:         @link-color;
@subnav-active-bg:            transparent;


//
// Navs
//
@nav-tabs-active-link-hover-bg:       #f5f5f5;


//
// Jumbotron
//
@jumbotron-color:                     #fff;
@jumbotron-bg:                        @brand-primary;


//
// Modals
//
@modal-inner-padding:                 20px;
