<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
        <div class="form-row row">
            <div class="form-column form-column-date">
                <formvh:form.datePicker
                    id="{element.uniqueIdentifier}"
                    property="{element.identifier}"
                    dateFormat="{element.properties.dateFormat}"
                    initialDate="{element.properties.initialDate}"
                    enableDatePicker="{element.properties.enableDatePicker}"
                    class="{element.properties.elementClassAttribute}"
                    errorClass="{element.properties.elementErrorClassAttribute}"
                    additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                    previewMode="{element.rootForm.renderingOptions.previewMode}"
                />
            </div>
            <f:if condition="{element.properties.displayTimeSelector}">
                <div class="form-column form-column-hours">
                    <formvh:form.timePicker
                        id="{element.uniqueIdentifier}-time"
                        title="{formvh:translateElementProperty(element: element, property: 'timeSelectorHourLabel')}"
                        property="{element.identifier}"
                        initialDate="{element.properties.initialDate}"
                        class="{element.properties.timeSelectorClassAttribute}"
                        errorClass="{element.properties.elementErrorClassAttribute}"
                        timeType="hour"
                    />
                </div>
                <div class="form-column form-column-minute">
                    <formvh:form.timePicker
                        id="{element.uniqueIdentifier}-time-minute"
                        title="{formvh:translateElementProperty(element: element, property: 'timeSelectorMinuteLabel')}"
                        property="{element.identifier}"
                        initialDate="{element.properties.initialDate}"
                        class="{element.properties.timeSelectorClassAttribute}"
                        errorClass="{element.properties.elementErrorClassAttribute}"
                        timeType="minute"
                    />
                </div>
            </f:if>
        </div>
    </f:render>
</formvh:renderRenderable>
</html>
