<f:if condition="{data.subheader}">
    <f:switch expression="{data.header_layout}">
        <f:case value="1">
            <h2 class="{f:if(condition: data.header_position, then: 'text-{data.header_position}')}">
                <span><f:format.htmlentitiesDecode>{data.subheader}</f:format.htmlentitiesDecode></span>
            </h2>
        </f:case>
        <f:case value="2">
            <h3 class="{f:if(condition: data.header_position, then: 'text-{data.header_position}')}">
                <span><f:format.htmlentitiesDecode>{data.subheader}</f:format.htmlentitiesDecode></span>
            </h3>
        </f:case>
        <f:case value="3">
            <h4 class="{f:if(condition: data.header_position, then: 'text-{data.header_position}')}">
                <span><f:format.htmlentitiesDecode>{data.subheader}</f:format.htmlentitiesDecode></span>
            </h4>
        </f:case>
        <f:case value="4">
            <h5 class="{f:if(condition: data.header_position, then: 'text-{data.header_position}')}">
                <span><f:format.htmlentitiesDecode>{data.subheader}</f:format.htmlentitiesDecode></span>
            </h5>
        </f:case>
        <f:case value="5">
            <h6 class="{f:if(condition: data.header_position, then: 'text-{data.header_position}')}">
                <span><f:format.htmlentitiesDecode>{data.subheader}</f:format.htmlentitiesDecode></span>
            </h6>
        </f:case>
        <f:case value="100">
            <f:comment> -- do not show header -- </f:comment>
        </f:case>
        <f:case default="1">
            <h2 class="{f:if(condition: data.header_position, then: 'text-{data.header_position}')}">
                <span><f:format.htmlentitiesDecode>{data.subheader}</f:format.htmlentitiesDecode></span>
            </h2>
        </f:case>
    </f:switch>
</f:if>
