<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{files}">
        <ul class="audio-list">
            <f:for each="{files}" as="file">
                <f:if condition="{file -> bk2k:file.isAudio()}">
                    <li class="audio-list-item">
                        <h4 class="audio-heading">
                            <f:if condition="{file.properties.title}">
                                <f:then>{file.properties.title}</f:then>
                                <f:else>{file.properties.name}</f:else>
                            </f:if>
                        </h4>
                        <f:if condition="{file.properties.description}">
                            <p class="audio-description">{file.properties.description}</p>
                        </f:if>
                        <div class="audio-file">
                            <f:media file="{file}" />
                        </div>
                    </li>
                </f:if>
            </f:for>
        </ul>
    </f:if>

</f:section>
</html>
