<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{bullets}">
        <f:switch expression="{data.bullets_type}">
            <f:case value="1">

                <ol class="list">
                    <f:for each="{bullets}" as="bullet">
                        <li>{bullet}</li>
                    </f:for>
                </ol>

            </f:case>
            <f:case value="2">

                <dl>
                    <f:for each="{bullets}" as="definitionListItem">
                        <f:for each="{definitionListItem}" as="termDescription" iteration="termDescriptionIterator">
                            <f:if condition="{termDescriptionIterator.isFirst}">
                                <f:then>
                                    <dt>{termDescription}</dt>
                                </f:then>
                                <f:else>
                                    <dd>{termDescription}</dd>
                                </f:else>
                            </f:if>
                        </f:for>
                    </f:for>
                </dl>

            </f:case>
            <f:defaultCase>

                <ul class="list">
                    <f:for each="{bullets}" as="bullet">
                        <li>{bullet}</li>
                    </f:for>
                </ul>

            </f:defaultCase>
        </f:switch>
    </f:if>

</f:section>
</html>
