<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{records}">
        <div id="carousel-{data.uid}" class="carousel carousel-small carousel-{data.pi_flexform.transition} slide" {f:if(condition: data.pi_flexform.interval, then: 'data-interval="{data.pi_flexform.interval}" ')}data-wrap="{f:if(condition:data.pi_flexform.wrap,then:'true',else:'false')}" data-ride="carousel" {f:if(condition: data.pi_flexform.interval, then: 'data-bs-interval="{data.pi_flexform.interval}"')} data-bs-wrap="{f:if(condition:data.pi_flexform.wrap,then:'true',else:'false')}" data-bs-ride="carousel">
            <div class="carousel-inner">
                <f:for each="{records}" as="item" iteration="iteration">
                    <f:variable name="itemClass">item</f:variable>
                    <f:if condition="{iteration.isFirst}"><f:variable name="itemClass">{itemClass} active</f:variable></f:if>
                    <f:variable name="itemClass">{itemClass} carousel-item</f:variable>
                    <f:variable name="itemClass">{itemClass} carousel-item-layout-{f:if(condition: item.data.layout,then:item.data.layout,else: 'custom')}</f:variable>
                    <f:variable name="itemClass">{itemClass} carousel-item-type-{item.data.item_type}</f:variable>
                    <f:variable name="itemStyle"></f:variable>
                    <f:if condition="{item.data.layout} == 'custom'">
                        <f:if condition="{item.data.background_color}"><f:variable name="itemStyle">{itemStyle} --carousel-item-background: {item.data.background_color};</f:variable></f:if>
                        <f:if condition="{item.data.text_color}"><f:variable name="itemStyle">{itemStyle} --carousel-item-color: {item.data.text_color};</f:variable></f:if>
                    </f:if>
                    <div class="{itemClass}" data-itemno="{iteration.index}" style="{itemStyle}">
                        <f:render partial="Carousel/General/BackgroundImage" arguments="{_all}" />
                        <div class="carousel-content">
                            <f:render partial="Carousel/Item/{item.data.item_type -> bk2k:format.upperCamelCase()}" arguments="{_all}" />
                        </div>
                    </div>
                </f:for>
            </div>
            <f:render partial="Carousel/Control/Indicator" arguments="{_all}" />
            <f:render partial="Carousel/Control/Control" arguments="{_all}" />
        </div>
    </f:if>

</f:section>
</html>
