<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{menu}">
        <f:variable name="imageConfig">{settings.responsiveimages.contentelements.menu_thumbnail_list.{data.pi_flexform.columns}}</f:variable>
        <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{imageConfig.multiplier}" gutters="{imageConfig.gutters}" corrections="{imageConfig.corrections}" />
        <f:render partial="Menu/SkipNavigation" arguments="{_all}" />
        <div class="thumbnail-menu thumbnail-menu-align-{data.pi_flexform.align} thumbnail-menu-columns-{data.pi_flexform.columns}">
            <f:for each="{menu}" as="page">
                <f:if condition="{page.files.0}">
                    <div class="thumbnail-menu-item">

                        <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}" class="thumbnail-menu-link" data-toggle="tooltip">
                            <div class="thumbnail-menu-image">
                                <f:render partial="Media/Rendering/Image" arguments="{file: page.files.0, data: page.data, settings: settings, variants: variants}" />
                            </div>
                            <div class="thumbnail-menu-caption">
                                <div class="thumbnail-menu-caption-inner">
                                    <h3 class="thumbnail-menu-caption-title"><f:format.crop maxCharacters="{settings.menuthumbnail.title.crop}">{page.title}</f:format.crop></h3>
                                    <f:if condition="{page.data.subtitle}">
                                        <p class="thumbnail-menu-caption-subtitle"><f:format.crop maxCharacters="{settings.menuthumbnail.subtitle.crop}">{page.data.subtitle}</f:format.crop></p>
                                    </f:if>
                                </div>
                            </div>
                        </a>

                    </div>
                </f:if>
            </f:for>
        </div>
    </f:if>

</f:section>
</html>
