{namespace bk2k = BK2K\BootstrapPackage\ViewHelpers}
<f:layout name="Default"/>
<f:section name="Header"></f:section>
<f:section name="Main">

    <div class="row">
        <div class="col-sm-6">
          <bk2k:imageSize sm="6"> 
            <f:render partial="Media/Gallery" arguments="{_all}" />
          </bk2k:imageSize>
        </div>
        <div class="col-sm-6">
            <f:render partial="Header/All" arguments="{_all}" />
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </div>

</f:section>

