@import "../theme.min.css";

ul.list-unstyled {
}

ul.list-inline {
}

ol.list-unstyled {
}

ol.list-inline {
}

p.lead {
}

p.text-left {
}

p.text-center {
}

p.text-right {
}

p.text-justify {
}

a.btn {
}

a.btn-default {
}

a.btn-primary {
}

a.btn-success {
}

a.btn-warning {
}

a.btn-danger {
}

a.btn-link {
}

a.btn-block {
}

table.table-bordered {
}

table.table-striped {
}

table.table-hover {
}

table.table-condensed {
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

th.danger {
}

th.info {
}

th.success {
}

th.warning {
}

th.text-left {
}

th.text-center {
}

th.text-right {
}

th.text-justify {
}

td.danger {
}

td.info {
}

td.success {
}

td.warning {
}

td.text-left {
}

td.text-center {
}

td.text-right {
}

td.text-justify {
}

table .active {
    background-color: #f5f5f5;
}

table .danger {
    background-color: #f2dede;
}

table .info {
    background-color: #d9edf7;
}

table .success {
    background-color: #dff0d8;
}

table .warning {
    background-color: #fcf8e3
}
