<footer>
    <f:if condition="{showFooter}">
        <section class="section footer-section footer-section-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '10'}"/>
                    </div>
                    <div class="col-sm-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '11'}"/>
                    </div>
                    <div class="col-sm-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '12'}"/>
                    </div>
                </div>
            </div>
        </section>
    </f:if>
    <f:if condition="{showMeta}">
        <section class="section footer-section footer-section-meta">
            <div class="container">
                <div class="frame frame-small default language">
                    <f:render partial="Navigation/Language" arguments="{_all}"/>
                </div>
                <f:if condition="{settings.copyright.enable}">
                    <div class="frame frame-small default copyright">
                        <f:format.html>{settings.copyright.text}</f:format.html>
                    </div>
                </f:if>
            </div>
        </section>
    </f:if>
</footer>
