<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{showFooter}">
    <footer>
        <section class="section footer-section footer-section-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '10'}" />
                    </div>
                    <div class="col-sm-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '11'}" />
                    </div>
                    <div class="col-sm-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '12'}" />
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-small footer-section footer-section-meta">
            <div class="container">
                <f:if condition="{settings.meta.enable}">
                    <div class="frame frame-small default meta">
                        <f:render partial="Navigation/Meta" arguments="{_all}" />
                    </div>
                </f:if>
                <f:if condition="{settings.language.enable}">
                    <div class="frame frame-small default language">
                        <f:render partial="Navigation/Language" arguments="{_all}" />
                    </div>
                </f:if>
                <f:if condition="{settings.copyright.enable}">
                    <div class="frame frame-small default copyright">
                        <f:format.html>{settings.copyright.text}</f:format.html>
                    </div>
                </f:if>
            </div>
        </section>
    </footer>
</f:if>
</html>
