<footer>
<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '10'}"/>
            </div>
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '11'}"/>
            </div>
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '12'}"/>
            </div>
        </div>
    </div>
</section>

<section class="meta-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 language">
                <f:cObject typoscriptObjectPath="lib.language"/>
            </div>
            <f:if condition="{themeCopyright}">
                <div class="col-md-8 copyright" role="contentinfo">
                    <f:format.html>{themeCopyrightText}</f:format.html>
                </div>
            </f:if>
        </div>
    </div>
</section>
</footer>