<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{theme.meta.enable} || {theme.language.enable} || {theme.copyright.enable} || {theme.socialmedia.enable}">
    <section class="section footer-section footer-section-meta">
        <div class="frame frame-background-none frame-space-before-none frame-space-after-none">
            <div class="frame-group-container">
                <div class="frame-group-inner">
                    <div class="frame-container">
                        <div class="frame-inner">
                            <f:if condition="{theme.meta.enable}">
                                <div class="footer-meta">
                                    <f:render partial="Navigation/Meta" arguments="{_all}" />
                                </div>
                            </f:if>
                            <f:if condition="{theme.language.enable}">
                                <div class="footer-language">
                                    <f:render partial="Navigation/Language" arguments="{_all}" />
                                </div>
                            </f:if>
                            <f:if condition="{theme.copyright.enable}">
                                <div class="footer-copyright">
                                    <f:render partial="Structure/Copyright" arguments="{_all}" />
                                </div>
                            </f:if>
                            <f:if condition="{theme.socialmedia.enable}">
                                <div class="footer-sociallinks">
                                    <f:render partial="Structure/SocialLinks" arguments="{_all}" />
                                </div>
                            </f:if>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</f:if>
</html>
