//
// Figure
//
figure {
    display: block;
    margin-bottom: 1rem;
    line-height: $line-height-base;
    img,
    picture {
        display: block;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }
    .caption {
        padding-top: 0.5rem;
        font-size: 0.85rem;
        word-break: break-all;
        opacity: 0.8;
        text-align: center;
    }
}
