//
// Pagination
//
$component-pagination-bg: #ffffff !default;
$component-pagination-active-bg: #e2e2e2 !default;
$component-pagination-hover-bg: #f2f2f2 !default;
$component-pagination-border-radius: $border-radius !default;

//
// Component
//
.pagination {
    margin: 1rem 0;
}
.pagination-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 1px;
    list-style: none;
}
@if $enable-rounded {
    .pagination-item {
        &:first-child {
            .pagination-link {
                border-radius: $component-pagination-border-radius 0 0 $component-pagination-border-radius;
            }
        }
        &:last-child {
            .pagination-link {
                border-radius: 0 $component-pagination-border-radius $component-pagination-border-radius 0;
            }
        }
    }
}
.pagination-link {
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1;
    border: 1px solid darken($component-pagination-bg, 15%);
    background-color: $component-pagination-bg !important;
    color: color-yiq($component-pagination-bg) !important;
    &:hover {
        text-decoration: none;
        background-color: $component-pagination-hover-bg !important;
        color: color-yiq($component-pagination-hover-bg) !important;
    }
    .pagination-item-disabled & {
        pointer-events: none;
        cursor: auto;
    }
}
.pagination-item {
    margin-top: 1px;
}
.pagination-item-active {
    .pagination-link {
        background-color: $component-pagination-active-bg !important;
        color: color-yiq($component-pagination-active-bg) !important;
    }
}
