//
// Social List
// --------------------------------------------------
.sociallinks {
    overflow: hidden;
}
.sociallinks-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sociallinks-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none !important;
    gap: .5rem;
}
.sociallinks-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    opacity: .8;
}
