//
// Social List
// --------------------------------------------------
.sociallinks {
    overflow: hidden;
}
.sociallinks-list {
    padding: 0;
    list-style: none;
}
.sociallinks-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none !important;
}
.sociallinks-link-icon {
    font-size: 1.25rem;
    text-align: center;
    opacity: 0.8;
    vertical-align: middle;
}
.sociallinks-link-label {
    vertical-align: middle;
    margin-left: 0.5rem;
}
