//
// Color system
//
$gray-800:                     #3b3b3b !default;
$gray-900:                     #2b2b2b !default;

$primary:                      #4faf98 !default;
$dark:                         $gray-900 !default;

//
// Fonts
//
$font-size-base:               1rem !default;
$headings-font-weight:         300 !default;
$blockquote-font-size:         ($font-size-base * 1.15) !default;

//
// Breakpoints
//
$grid-float-breakpoint:        992px !default;

//
// Components
//
$border-radius:                0px !default;
$border-radius-lg:             0px !default;
$border-radius-sm:             0px !default;

//
// Grid
//
$grid-gutter-width:            40px !default;

//
// Navbar
//
$navbar-nav-link-padding-x:    0.75rem !default;
$navbar-heights: (
  xs: 70px,
  sm: 70px,
  md: 100px,
  lg: 130px,
  xl: 130px
) !default;

//
// Footer
//
$footer-sections: () !default;
$footer-sections: map-merge((
  content: (
    background:                $gray-900,
    color:                     #fff,
    link-color:                $primary
  ),
  meta: (
    background:                darken($gray-900, 3%),
    color:                     #fff,
    link-color:                $primary
  )
), $footer-sections);

//
// Breadcrumbs
//
$breadcrumb-bg:                #f2f2f2 !default;
