#typo3-logo {
    line-height: 30px;
	width: auto;
    margin-top: 5px;
}
#typo3-logo img {
	vertical-align: top;
    margin: 4px 10px 4px 0px;
}
#typo3-logo a {
    display: block;
	color: #FFFFFF;
}
#typo3-logo .typo3-sitename {
	color: #FFFFFF;
	padding-left: 10px;
	display: inline-block;
    border-left: 1px solid #585858;
	-webkit-box-shadow: -1px 0 #000;
    box-shadow: -1px 0 #000;
}
#typo3-index-php {
    background-image: none;
    background-color: #333333;
}
#typo3-index-php .t3-login-form-image {
    margin-bottom: 2em;
}
#typo3-index-php .t3-login-form-image img {
    display: block;
    margin: 0 auto;
}
#typo3-index-php .shadow {
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.t3-login-box-body {
    background-image: none;
    background-color: #dddddd;
}
#typo3-index-php .t3-login-field input {
    border-radius: 3px;
}
#typo3-index-php .t3-login-field input:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.15);
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}
#typo3-index-php .t3-login-field input.t3-username,
#typo3-index-php .t3-login-field input.t3-password {
    border: 1px solid #bbbbbb;
    padding-right: 25px!important; // FIX FOR LASTPASS
}
#typo3-index-php .t3-login-field input.t3-login-submit {
    background-image: none;
    border-color: #E69036;
    margin-bottom: 0px;
    height: auto;
    line-height: 34px;
    text-shadow: none;
}
#typo3-index-php div#t3-copyright-notice {
    margin-top: 2em;
    padding-top: 0px;
    border-top: none;
}
#typo3-index-php #t3-meta-links {
    margin-bottom: 2em;
}