@import "theme.min.css";

ul.list-unstyled {}
ul.list-inline {}

p.lead {}
p.text-left {}
p.text-center {}
p.text-right {}

a.btn {}
a.btn-default {}
a.btn-primary {}
a.btn-success {}
a.btn-warning {}
a.btn-block {}