<f:if condition="{settings.breadcrumb.enable}">
    <f:if condition="{breadcrumb}">
        <div class="breadcrumb-section hidden-xs hidden-sm">
            <div class="container">
                <ol class="breadcrumb">
                    <f:for each="{breadcrumb}" as="item">
                        <li class="{f:if(condition: item.current, then: 'active')}">
                            <f:if condition="{item.current}">
                                <f:then>
                                    <f:if condition="{mainnavigationItem.data.nav_title}"><f:then>{item.data.nav_title}</f:then><f:else>{item.data.title}</f:else></f:if>
                                </f:then>
                                <f:else>
                                    <f:link.page pageUid="{item.data.uid}" title="{f:if(condition: '{item.data.nav_title}', then: '{item.data.nav_title}', else: '{item.data.title}')}">
                                        <f:if condition="{mainnavigationItem.data.nav_title}"><f:then>{item.data.nav_title}</f:then><f:else>{item.data.title}</f:else></f:if>
                                    </f:link.page>
                                </f:else>
                            </f:if>
                        </li>
                    </f:for>
                </ol>
            </div>
        </div>
    </f:if>
</f:if>
