<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:render section="FooterMenu" arguments="{menu: footernavigation, level: 0, theme: theme}" />
    <f:section name="FooterMenu">
        <f:if condition="{menu}">
            <f:variable name="level" value="{level + 1}" />
            <ul class="footer-navigation-list footer-navigation-list-level-{level}">
                <f:for each="{menu}" as="item">
                    <li class="footer-navigation-item footer-navigation-item-level-{level}">
                        <a class="footer-navigation-link footer-navigation-link-level-{level}" href="{item.link}"{f:if(condition: '{item.target}', then: ' target="{item.target}"')}{f:if(condition: '{item.target} == "_blank"', then: ' rel="noopener noreferrer"')} title="{item.title}">
                            <f:if condition="{theme.footernavigation.icon.enable} && {item.icon}">
                                <span class="footer-navigation-link-icon">
                                    <bk2k:icon icon="{item.icon}" width="{theme.footernavigation.icon.width}" height="{theme.footernavigation.icon.height}" />
                                </span>
                            </f:if>
                            <span class="footer-navigation-link-text">
                                {item.title}
                            </span>
                        </a>
                        <f:if condition="{item.children}">
                            <f:render section="FooterMenu" arguments="{menu: item.children, level: level, theme: theme}" />
                        </f:if>
                    </li>
                </f:for>
            </ul>
        </f:if>
    </f:section>

</html>
