<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{mainnavigation}">
    <ul class="navbar-nav">
        <f:for each="{mainnavigation}" as="item">
            <f:if condition="{item.spacer}">
                <f:then>
                    <li class="nav-spacer" aria-hidden="true"></li>
                </f:then>
                <f:else>

                    <f:variable name="dropdownStyle">simple</f:variable>
                    <f:for each="{item.children}" as="tempChild">
                        <f:if condition="{tempChild.children}">
                            <f:variable name="dropdownStyle">mega</f:variable>
                        </f:if>
                    </f:for>
                    <li class="nav-item{f:if(condition: item.children, then:' nav-style-{dropdownStyle}')}">
                        <a
                            id="nav-item-{item.data.uid}"
                            href="{item.link}"
                            class="nav-link nav-link-main{f:if(condition: item.active, then:' active')}"
                            {f:if(condition: '{item.target}', then: ' target="{item.target}"')}
                            {f:if(condition: '{item.target} == "_blank"', then: ' rel="noopener noreferrer"')}
                            aria-current="{f:if(condition: item.current, then:'true', else: 'false')}"
                            >
                            <f:if condition="{theme.navigation.dropdown.icon.enable} && {item.icon}">
                                <span class="nav-link-icon">
                                    <bk2k:icon icon="{item.icon}" width="{theme.navigation.dropdown.icon.width}" height="{theme.navigation.dropdown.icon.height}" />
                                </span>
                            </f:if>
                            <span class="nav-link-text">
                                {item.title}
                                <f:if condition="{item.current}"> <span class="visually-hidden">({f:translate(key: 'navigation.link.screenreader.current', extensionName: 'bootstrap_package')})</span></f:if>
                            </span>
                        </a>
                        <f:if condition="{item.children}">
                            <button
                                type="button"
                                id="nav-toggle-{item.data.uid}"
                                class="nav-link nav-link-toggle"
                                data-bs-toggle="dropdown"
                                data-bs-display="static"
                                aria-haspopup="true"
                                aria-expanded="false"
                                >
                                <span class="nav-link-indicator" aria-hidden="true"></span>
                                <span class="nav-link-text visually-hidden">Submenu for "{item.title}"</span>
                            </button>
                        </f:if>
                        <div class="dropdown-menu{f:if(condition: item.children, then:' dropdown-menu-{dropdownStyle}')}">
                            <f:render partial="Navigation/MainNavigationDropDown" arguments="{data: data, page: item, items: item.children, theme: theme}" />
                        </div>
                    </li>

                </f:else>
            </f:if>
        </f:for>
    </ul>
</f:if>
</html>
