<div class="navbar navbar-{themeNavigationstyle} navbar-top{f:if(condition:logoFile,then:' navbar-has-image')}" role="navigation">
    <div class="container">
        <div class="navbar-header navbar-header-main">
            <f:if condition="{logoFile}">
                <f:then>
                    <f:link.page pageUid="{rootPage}" class="navbar-brand navbar-brand-image">
                        <img src="{f:uri.image(src: logoFile)}" height="{logoHeight}" width="{logoWidth}" />
                    </f:link.page>
                </f:then>
                <f:else>
                    <f:link.page pageUid="{rootPage}" class="navbar-brand">{siteTitle}</f:link.page>
                </f:else>
            </f:if>
            <f:if condition="{f:cObject(typoscriptObjectPath:'lib.navigation.main')}">
            <button type="button" class="navbar-toggle navbar-toggle-menu" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-list"></span>
                <span class="sr-only">Toggle navigation</span>
            </button>
            </f:if>
            <span class="navbar-header-border-bottom"></span>
        </div>
        <div class="navbar-collapse collapse">
            <f:cObject typoscriptObjectPath="lib.navigation.main" />
        </div>
    </div>
</div>