<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{metanavigation}">
    <ul id="meta_menu" class="meta-menu">
        <f:for each="{metanavigation}" as="item" iteration="metaiteration">
            <li{f:if(condition: item.active, then:' class="active"')}>
                <a href="{item.link}"{f:if(condition: item.target, then: ' target="{item.target}"')} title="{item.title}">
                    <span>{item.title}</span>
                </a>
            </li>
        </f:for>
    </ul>
</f:if>
</html>
