<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{subnavigation}">
    <nav class="hidden-print hidden-xs hidden-sm" role="navigation">
        <ul class="nav nav-sidebar">
            <f:render section="SubnavigationItem" arguments="{menu: subnavigation}" />
        </ul>
    </nav>
</f:if>
<f:section name="SubnavigationItem">
    <f:for each="{menu}" as="item">
        <f:if condition="{item.spacer}">
            <f:then>
                <li class="nav-header">{item.title}</li>
            </f:then>
            <f:else>
                <li class="{f:if(condition: item.active, then:'active')}">
                    <a href="{item.link}" target="{item.target}" title="{item.title}">
                        <span>{item.title}</span>
                    </a>
                    <f:if condition="{item.children}">
                        <ul>
                            <f:render section="SubnavigationItem" arguments="{menu: item.children}" />
                        </ul>
                    </f:if>
                </li>
            </f:else>
        </f:if>
    </f:for>
</f:section>
</html>
