{namespace bk2k = BK2K\BootstrapPackage\ViewHelpers}
<f:switch expression="{data.section_frame}">
    <f:case value="1"><bk2k:var name="sectionClass" value="invisible" /></f:case>
    <f:case value="5"><bk2k:var name="sectionClass" value="rulerbefore" /></f:case>
    <f:case value="6"><bk2k:var name="sectionClass" value="rulerafter" /></f:case>
    <f:case value="10"><bk2k:var name="sectionClass" value="col-xs-10 col-xs-push-1" /></f:case>
    <f:case value="11"><bk2k:var name="sectionClass" value="col-xs-9 col-xs-push-3" /></f:case>
    <f:case value="12"><bk2k:var name="sectionClass" value="col-xs-9" /></f:case>
    <f:case value="20"><bk2k:var name="sectionClass" value="well" /></f:case>
    <f:case value="21"><bk2k:var name="sectionClass" value="jumbotron" /></f:case>
    <f:case default="TRUE"><bk2k:var name="sectionClass" value="default" /></f:case>
</f:switch>

<div id="c{data.uid}" class="frame {sectionClass}">
    <f:if condition="{data._LOCALIZED_UID}"><a id="c{data._LOCALIZED_UID}"></a></f:if>
    <f:render section="Header" />
    <f:render section="Main" />
</div>
