<f:if condition="{data.frame_class} != none">
    <f:then>

        <div id="c{data.uid}" class="frame frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, else: ' frame-space-before-none', then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, else: ' frame-space-after-none', then: ' frame-space-after-{data.space_after_class}')}">
            <f:if condition="{data._LOCALIZED_UID}"><a id="c{data._LOCALIZED_UID}"></a></f:if>
            <f:render section="Header" />
            <f:render section="Main" />
        </div>

    </f:then>
    <f:else>

        <a id="c{data.uid}"></a>
        <f:if condition="{data._LOCALIZED_UID}"><a id="c{data._LOCALIZED_UID}"></a></f:if>
        <f:render section="Header" />
        <f:render section="Main" />

    </f:else>
</f:if>
