services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  BK2K\BootstrapPackage\:
    resource: '../Classes/*'

  BK2K\BootstrapPackage\Command\CreateSiteCommand:
    tags:
      - name: 'console.command'
        command: 'bootstrappackage:createsite'
        schedulable: false
        description: Create Demo Site

  BK2K\BootstrapPackage\Service\BrandingService:
    tags:
      - name: event.listener
        identifier: 'bk2k/bootstrap-package/set-backend-styling'
        event: TYPO3\CMS\Core\Package\Event\AfterPackageActivationEvent

  BK2K\BootstrapPackage\Backend\ToolbarItem\VersionToolbarItem:
    tags:
      - name: event.listener
        identifier: 'bk2k/bootstrap-package/add-version-information'
        event: TYPO3\CMS\Backend\Backend\Event\SystemInformationToolbarCollectorEvent
