{namespace bk2k = BK2K\BootstrapPackage\ViewHelpers}
<figure class="image">
 
    <f:if condition="{file.0.link}">
        <f:then>
            <f:link.typolink parameter="{file.0.link}" title="{file.0.title}">
                <f:render partial="Media/ImageTagType" arguments="{file: file, settings: settings, imagesize: imagesize}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:if condition="{data.image_zoom}">
                <f:then>
                    <a href="{f:uri.image(image: file.0, maxHeight: '1200', maxWidth: '1200')}" title="{file.0.title}" class="{settings.lightbox.cssClass}" data-lightbox-width="{bk2k:lastImageInfo(property: 'width')}" data-lightbox-height="{bk2k:lastImageInfo(property: 'height')}" rel="{settings.lightbox.prefix}-{data.uid}">
                        <f:render partial="Media/ImageTagType" arguments="{file: file, settings: settings, imagesize: imagesize}" />
                    </a>
                </f:then>
                <f:else>
                    <f:render partial="Media/ImageTagType" arguments="{file: file, settings: settings, imagesize: imagesize}" />
                </f:else>
            </f:if>
        </f:else>
    </f:if>
  
  <f:if condition="{f:if(condition:'{imagesize.globalcaption}', then:'0', else:'{file.0.description}')}">
    <figcaption class="caption">
        {file.0.description}
    </figcaption>
  </f:if>
</figure>
