{namespace bk2k = BK2K\BootstrapPackage\ViewHelpers}

<f:comment>Split files by collection (1 for regular media, 5 for art direction) </f:comment>
<bk2k:var name="columns" value="{bk2k:simpleMath( operator:'min', a:'{data.imagecols}', b:'{files->f:count()}')}" />
<f:switch expression="{columns}">
  <f:case value="2">
    <bk2k:imageSize store="1" xs="12" sm="6"/>
  </f:case>
  <f:case value="3">
    <bk2k:imageSize store="1" xs="4"/>
  </f:case>
  <f:case value="4">
    <bk2k:imageSize store="1" xs="6" sm="3"/>
  </f:case>
  <f:case value="5">
    <bk2k:imageSize store="1" xs="4" sm="2.4" />
  </f:case>
  <f:case value="6">
    <bk2k:imageSize store="1" xs="4" sm="4" md="2"/>
  </f:case>
  <f:case value="7">
    <bk2k:imageSize store="1" xs="4" sm="3" md="1.7142857142857142857142857142857" />
  </f:case>
  <f:case value="8">
    <bk2k:imageSize store="1" xs="4" sm="3" md="1.5" />
  </f:case>
  <f:case value="9">
    <bk2k:imageSize store="1" xs="4" sm="4" md="1.333333333333333333333333333333" />
  </f:case>
  <f:case value="10">
    <bk2k:imageSize store="1" xs="4" sm="2.4" md="1.2" />
  </f:case>
  <f:case default="TRUE">
    <bk2k:imageSize store="1" xs="12" />
  </f:case>
</f:switch>

<bk2k:imagesLayout files="{files}" data="{data}" imagesize="imagesize" as="collection">

  <f:if condition="{collection.error}">
    <f:render partial="Media/LayoutError" arguments="{error: collection.error}" />
  </f:if>  
  
  <div class="row gutter-flex">
    
    <f:for each="{collection.files}" as="file" iteration="fileIteration">
      
      <f:switch expression="{columns}">
        <f:case value="2">
          <div class="col-sm-6">
            <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
          </div>
        </f:case>
        <f:case value="3">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
          </div>
        </f:case>
        <f:case value="4">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
          </div>
        </f:case>
        <f:case value="5">
          <div class="col-sm-1-5 col-xs-4">
            <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
          </div>
        </f:case>
        <f:case value="6">
          <div class="col-md-2 col-sm-4 col-xs-4">
            <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
          </div>
        </f:case>
        <f:case value="7">
          <div class="col-md-1-7 col-sm-3 col-xs-4">
            <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
          </div>
        </f:case>
        <f:case value="8">
          <div class="col-md-1-8 col-sm-3 col-xs-4">
            <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
          </div>
        </f:case>
        <f:case value="9">
          <div class="col-md-1-9 col-sm-4 col-xs-4">
            <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
          </div>
        </f:case>
        <f:case value="10">
          <div class="col-md-1-10 col-sm-1-5 col-xs-4">
            <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
          </div>
        </f:case>
        <f:case default="TRUE">
          <div class="col-md-12">
            <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
          </div>
        </f:case>
      </f:switch>
      
      <f:comment>Reset for columns / lines (replace equalheight.js by markup)</f:comment>
      
      <f:if condition="{fileIteration.cycle} < {fileIteration.total}">
        <f:if condition="{bk2k:simpleMath(a:'{fileIteration.cycle}', b:'{collection.cols.xs}', operator:'%')} < 0.1">
          <div class="clearfix visible-xs-block"></div>
        </f:if>
        <f:if condition="{bk2k:simpleMath(a:'{fileIteration.cycle}', b:'{collection.cols.sm}', operator:'%')} < 0.1">
          <div class="clearfix visible-sm-block"></div>
        </f:if>
        <f:if condition="{bk2k:simpleMath(a:'{fileIteration.cycle}', b:'{collection.cols.md}', operator:'%')} < 0.1">
          <div class="clearfix visible-md-block"></div>
        </f:if>
        <f:if condition="{bk2k:simpleMath(a:'{fileIteration.cycle}', b:'{collection.cols.lg}', operator:'%')} < 0.1">
          <div class="clearfix visible-lg-block"></div>
        </f:if>
      </f:if>
      
    </f:for> 
    
  </div> 
  
</bk2k:imagesLayout>

