{namespace bk2k = BK2K\BootstrapPackage\ViewHelpers}
<bk2k:imagesLayout files="{files}" data="{data}" imagesize="imagesize" as="collection"> 
   
  
   <f:if condition="{collection.error}">
    <f:render partial="Media/LayoutError" arguments="{error: collection.error}" />
  </f:if> 
  
  
  
  <f:switch expression="{data.images_layout}">
    <f:case value="17">
      <bk2k:var name="align" value=" col-flex-top"/>
    </f:case>
    <f:case value="33">
      <bk2k:var name="align" value=" col-flex-bottom"/>
    </f:case>
    <f:case default="TRUE">
      <bk2k:var name="align" value=""/>
    </f:case>
  </f:switch>  
 
  <bk2k:css inline="{settings.moveCssToBody}" key="bootstrap_package_colums-{data.uid}">
    #row-{data.uid} > .col-flex<f:format.raw>{</f:format.raw>width:{collection.colpercent}%;<f:format.raw>}</f:format.raw>
  </bk2k:css> 
  
   <div class="table-flex">
  <div class="row-flex" id="row-{data.uid}">
    <div class="col-flex {align}">
      <f:for each="{collection.files}" as="file" iteration="fileIteration">
        
        <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
        
        <f:if condition="{fileIteration.index} > 0">
          <f:if condition="{fileIteration.cycle} < {fileIteration.total}">
            <f:if condition="{bk2k:simpleMath(a:'{fileIteration.cycle}', b:'{collection.imagecols}', operator:'%')} < 0.1">
              </div><div class="col-flex {align}">
            </f:if>  
          </f:if>
        </f:if>
      </f:for>
    </div>
    </div>
  </div> 
</bk2k:imagesLayout>
