{namespace bk2k = BK2K\BootstrapPackage\ViewHelpers}
<bk2k:imagesLayout files="{files}" data="{data}" settings="{settings}" imagesize="imagesize" as="collection">
  <f:render partial="Media/PreventRelayoutByCss" arguments="{collection: collection, settings: settings, onlypadding: 1}" />
  <f:if condition="{collection.error}">
    <f:render partial="Media/LayoutError" arguments="{error: collection.error}" />
  </f:if> 
  <f:for each="{collection.files}" as="file" iteration="fileIteration">
    <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
  </f:for> 
</bk2k:imagesLayout>

