{namespace bk2k = BK2K\BootstrapPackage\ViewHelpers}
<f:comment>Equal height for each row, flexible width</f:comment>

<bk2k:imagesLayout files="{files}" data="{data}" settings="{settings}" imagesize="imagesize" as="collection"> 
  
  <f:if condition="{collection.error}">
    <f:render partial="Media/LayoutError" arguments="{error: collection.error}" />
  </f:if> 
  
  <f:render partial="Media/PreventRelayoutByCss" arguments="{collection: collection, settings: settings}" />
  
  <f:switch expression="{data.images_layout}">
    <f:case value="34">
      <bk2k:var name="align" value="  row-flex-right"/>
    </f:case>
    <f:case value="18">
      <bk2k:var name="align" value="  row-flex-left"/>
    </f:case>
    <f:case default="TRUE">
      <bk2k:var name="align" value=""/>
    </f:case>
  </f:switch> 
 
  <bk2k:css inline="{settings.moveCssToBody}" key="bootstrap_package_row-justify-{data.uid}">
    
    <f:comment> 
      when fluid, the layout should be set so images resize according.
      when fixed, the width of columns depends on images.
      lg = 0
      md = 1
      sm = 2
      xs = 3
      xxs = 4
    </f:comment>
    
    <f:if condition="{settings.images.breakpoint} < 5">
      <bk2k:mediaQuery max="xs">   
        <f:for each="{collection.files}" as="file" iteration="fileIteration">
          #col-{data.uid}-{fileIteration.cycle}<f:format.raw>{</f:format.raw>width:{file.size.xxs.percent}%<f:format.raw>;}</f:format.raw>
        </f:for>
      </bk2k:mediaQuery>
    </f:if>
    <f:if condition="{settings.images.breakpoint} < 4">
      <bk2k:mediaQuery min="xs" max="sm">
        <f:for each="{collection.files}" as="file" iteration="fileIteration">
          #col-{data.uid}-{fileIteration.cycle}<f:format.raw>{</f:format.raw>width:{file.size.xs.percent}%<f:format.raw>;}</f:format.raw>
        </f:for>
      </bk2k:mediaQuery>
    </f:if>
    <f:if condition="{settings.images.breakpoint} < 3">
      <bk2k:mediaQuery min="sm" max="md">
        <f:for each="{collection.files}" as="file" iteration="fileIteration">
          #col-{data.uid}-{fileIteration.cycle}<f:format.raw>{</f:format.raw>width:{file.size.sm.percent}%<f:format.raw>;}</f:format.raw>
        </f:for>
      </bk2k:mediaQuery>
    </f:if>
      <f:if condition="{settings.images.breakpoint} < 2">
      <bk2k:mediaQuery min="md" max="lg">
        <f:for each="{collection.files}" as="file" iteration="fileIteration">
          #col-{data.uid}-{fileIteration.cycle}<f:format.raw>{</f:format.raw>width:{file.size.md.percent}%<f:format.raw>;}</f:format.raw>
        </f:for>
      </bk2k:mediaQuery>
    </f:if>
    <f:if condition="{settings.images.breakpoint} < 1">
      <bk2k:mediaQuery min="lg">
        <f:for each="{collection.files}" as="file" iteration="fileIteration">
          #col-{data.uid}-{fileIteration.cycle}<f:format.raw>{</f:format.raw>width:{file.size.lg.percent}%<f:format.raw>;}</f:format.raw>
        </f:for>
      </bk2k:mediaQuery>
    </f:if>
  </bk2k:css>

  
  <div class="row-flex{align}">
    <f:for each="{collection.files}" as="file" iteration="fileIteration">
      
      <div id="col-{data.uid}-{fileIteration.cycle}" class="col-flex">
        <f:render partial="Media/Type" arguments="{file: file.srcset, data: data, settings: settings, imagesize: file.size}" />
      </div>
      <f:if condition="{fileIteration.cycle} > 0">
        <f:if condition="{fileIteration.cycle} < {fileIteration.total}">
          <f:if condition="{bk2k:simpleMath(operator: '%', a:'{fileIteration.cycle}', b:'{collection.imagecols}')} == 0">
          </div><div class="row-flex{align}">
            </f:if>
            </f:if>
            </f:if>
            </f:for> 
            </div> 
            
          </bk2k:imagesLayout>
