{namespace bk2k = BK2K\BootstrapPackage\ViewHelpers}
<f:comment>
  on fluid layout,  the width of images depends on layout and is 100% of parent, so we only set padding.
  on fixed layouts, the width of images should explicitly be set.
  breakpoint 3 = xs
  breakpoint 2 = sm
  breakpoint 1 = md
  breakpoint 0 = lg
</f:comment>
<f:if condition="{settings.images.preventrelayout}">
  
  <bk2k:css inline="{settings.moveCssToBody}">
    
    <bk2k:mediaQuery min="lg">
      <f:for each="{collection.files}" as="file" iteration="fileIteration">
        #{file.size.selector}<f:format.raw>{</f:format.raw>padding-bottom:{file.size.lg.padding}%;
        <f:if condition="{settings.images.breakpoint} > 0">
          width:{file.size.lg.width}px;
        </f:if>
        <f:format.raw>}</f:format.raw>
      </f:for>
    </bk2k:mediaQuery>
    
    <bk2k:mediaQuery min="md" max="lg">
      <f:for each="{collection.files}" as="file" iteration="fileIteration">
        #{file.size.selector}<f:format.raw>{</f:format.raw>padding-bottom:{file.size.md.padding}%;
        <f:if condition="{settings.images.breakpoint} > 1">
          width:{file.size.md.width}px;
        </f:if>
        <f:format.raw>}</f:format.raw>
      </f:for>
    </bk2k:mediaQuery>
    
    <bk2k:mediaQuery min="sm" max="md">
      <f:for each="{collection.files}" as="file" iteration="fileIteration">
        #{file.size.selector}<f:format.raw>{</f:format.raw>padding-bottom:{file.size.sm.padding}%;
        <f:if condition="{settings.images.breakpoint} > 2">
          width:{file.size.sm.width}px;
        </f:if>
        <f:format.raw>}</f:format.raw>
      </f:for>
    </bk2k:mediaQuery>
    
    <bk2k:mediaQuery min="xs" max="sm">
      <f:for each="{collection.files}" as="file" iteration="fileIteration">
        #{file.size.selector}<f:format.raw>{</f:format.raw>padding-bottom:{file.size.xs.padding}%;
        <f:if condition="{settings.images.breakpoint} > 3">
          width:{file.size.xs.width}px;
        </f:if>
        <f:format.raw>}</f:format.raw> 
      </f:for>
    </bk2k:mediaQuery>
    <bk2k:mediaQuery max="xs">
      <f:for each="{collection.files}" as="file" iteration="fileIteration">
        #{file.size.selector}<f:format.raw>{</f:format.raw>padding-bottom:{file.size.xxs.padding}%;
        <f:if condition="{settings.images.breakpoint} > 4">
          width:{file.size.xxs.width}px;
        </f:if>
        <f:format.raw>}</f:format.raw> 
      </f:for>
    </bk2k:mediaQuery>
  </bk2k:css>
</f:if>  