{namespace bk2k = BK2K\BootstrapPackage\ViewHelpers}

<f:comment>
  tx_image_rendering
  STANDARD = 0;
  ART_DIRECTION = 1;
  CSS_BACKGROUND = 2;
  CSS_BACKGROUND_ART_DIRECTION = 3;
  LIGHTBOX_LINK = 4;
  BYPASS_LINK = 50;

  USER_DEFINED_1 = 100;
  USER_DEFINED_2 = 110;
  USER_DEFINED_3 = 120;
  USER_DEFINED_4 = 130;

</f:comment>

<f:comment>
  file.type
  FILETYPE_UNKNOWN = 0;
  FILETYPE_TEXT = 1;
  FILETYPE_IMAGE = 2;
  FILETYPE_AUDIO = 3;
  FILETYPE_VIDEO = 4;
  FILETYPE_APPLICATION = 5;
</f:comment>


<f:switch expression="{file.0.type}">

  <f:case value="2">
    <f:switch expression="{data.tx_image_rendering}">
      <f:case value="1">
        <f:render partial="Media/ArtDirection" arguments="{file: file, data:data, settings: settings, imagesize: imagesize}" />
      </f:case>
      <f:case value="2">
        <f:render partial="Media/Rendering/Css" arguments="{file: file.0, data: data, settings: settings, imagesize: imagesize}" />
      </f:case>
      <f:case value="3">
        <f:render partial="Media/Rendering/CssArtDirection" arguments="{file: file, data:data, settings: settings, imagesize: imagesize}" />
      </f:case>
      <f:case value="4">
         <f:render partial="Media/LightboxLink" arguments="{file: file.0, data: data, settings: settings, imagesize: imagesize}" />
      </f:case>

      <f:comment>rendering method without any link for thumbs menuItems</f:comment>
      <f:case value="50">
         <f:render partial="Media/Rendering/Image" arguments="{file: file.0, data: data, settings: settings, imagesize: imagesize}" />
      </f:case>

      <f:comment>user defined rendering methods</f:comment>

      <f:case value="100">
         <f:render partial="Media/Image" arguments="{file: file.0, data: data, settings: settings, imagesize: imagesize}" />
      </f:case>
      <f:case value="110">
         <f:render partial="Media/Image" arguments="{file: file.0, data: data, settings: settings, imagesize: imagesize}" />
      </f:case>
      <f:case value="120">
         <f:render partial="Media/Image" arguments="{file: file.0, data: data, settings: settings, imagesize: imagesize}" />
      </f:case>
      <f:case value="130">
         <f:render partial="Media/Image" arguments="{file: file.0, data: data, settings: settings, imagesize: imagesize}" />
      </f:case>

      <f:case default="TRUE">
        <f:render partial="Media/Image" arguments="{file: file.0, data: data, settings: settings, imagesize: imagesize}" />
      </f:case>
    </f:switch>
  </f:case>

  <f:case value="3">
    <div class="danger">Audio file rendering is not supported</div>
  </f:case>

  <f:case value="4">
    <f:render partial="Media/Video" arguments="{file: file.0, data: data, imagesize: imagesize, settings: settings}" />
  </f:case>

  <f:case value="5">
    <f:switch expression="{file.0.extension}">
      <f:case value="pdf">
        <f:render partial="Media/Image" arguments="{file: file.0, data: data, settings: settings, imagesize: imagesize}" />
      </f:case>
      <f:case default="TRUE">
        <div class="danger">File rendering for type:{file.0.type} {file.0.extension} is not supported.</div>
      </f:case>
    </f:switch>
  </f:case>

  <f:case default="TRUE">
    <div class="danger">File rendering for type:{file.0.type} {file.0.extension} is not supported.</div>
  </f:case>

</f:switch>
