{namespace bk2k = BK2K\BootstrapPackage\ViewHelpers}
<f:comment>
  image_rendering decimal

  CSS            = hex 0x04  dec 4
  NO_TAG         = hex 0x0E  dec 15
  LIGHTBOX_LINK  = hex 0x2F  dec 47
  BYPASS_LINK    = hex 0x40  dec 64

</f:comment>

<f:comment>
  file.type
  FILETYPE_UNKNOWN = 0;
  FILETYPE_TEXT = 1;
  FILETYPE_IMAGE = 2;
  FILETYPE_AUDIO = 3;
  FILETYPE_VIDEO = 4;
  FILETYPE_APPLICATION = 5;
</f:comment>

<f:switch expression="{file.0.type}">

    <f:case value="2">

        <f:switch expression="{data.image_rendering}">

        <f:case value="4">
          <f:comment>rendering css</f:comment>
          <f:render partial="Media/ImageTagType" arguments="{file: file, data: data, settings: settings, imagesize: imagesize}" />
        </f:case>

        <f:case value="47">
          <f:render partial="Media/LightboxLink" arguments="{file: file, data: data, settings: settings, imagesize: imagesize}" />
        </f:case>

        <f:case value="64">
          <f:comment>rendering method without any link for thumbs menuItems / media list</f:comment>
          <f:render partial="Media/ImageTagType" arguments="{file: file, data: data, settings: settings, imagesize: imagesize}" />
        </f:case>

        <f:case default="TRUE">
          <f:render partial="Media/Image" arguments="{file: file, data: data, settings: settings, imagesize: imagesize}" />
        </f:case>

      </f:switch>
    </f:case>

    <f:case value="3">
      <f:comment>Audio files</f:comment>
      <f:render partial="Media/Fallback" arguments="{file: file.0, data: data, settings: settings, imagesize: imagesize}" />
    </f:case>

    <f:case value="4">
      <f:render partial="Media/Video" arguments="{file: file.0, data: data, imagesize: imagesize, settings: settings}" />
    </f:case>

    <f:case value="5">
      <f:switch expression="{data.image_rendering}">

        <f:case value="64">
          <f:comment>rendering method without any link for thumbs menuItems / media list</f:comment>
          <f:render partial="Media/ImageTagType" arguments="{file: file, data: data, settings: settings, imagesize: imagesize}" />
        </f:case>

        <f:case default="TRUE">
          <f:render partial="Media/Image" arguments="{file: file, data: data, settings: settings, imagesize: imagesize}" />
        </f:case>

      </f:switch>
    </f:case>

    <f:case default="TRUE">

      <f:comment>Unknown file type</f:comment>
      <f:render partial="Media/Fallback" arguments="{file: file.0, data: data, settings: settings, imagesize: imagesize}" />
    </f:case>
  </f:switch>
