.case-without-variable {
  border-radius: 0.5rem;
}
.case-with-variable {
  border-radius: 0.5rem;
}
.case-precalculated-variable {
  border-radius: 0.25rem;
}
button {
  width: 0.5rem;
  border-radius: 0.5rem;
}
