# The tmpfs for the cache folder could be useful but conflicts with WSL2. To
# enable it just remove the .tmpl extension and restart your project.
version: '3.6'

services:
  web:
    volumes:
      - type: tmpfs
        target: /var/www/html/.build/var/cache
        tmpfs:
          size: 268435456
